.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f8f8f8;
    height: 60px; /* Añade una restricción de altura */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header .login-info, .header .dropdown {
    margin-right: 20px;
}

